@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.judul {
  font-family: "Anton", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
}

.judul2 {
  font-family: "Anton", sans-serif;
  color: rgb(10, 233, 0);
  text-transform: uppercase;
  padding: 0.4em;
}

p {
  color: #fff;
}

.hero {
  background-color: rgb(10, 233, 0);
  background-image: linear-gradient(315deg, #0ae900 0%, #1bb700 100%);
}

.radius {
  background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
  /* margin: 10px; */
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 30px;
  /* display: block; */
}

.radius:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.rds {
  border-radius: 1em;
}
